/* App.css */
.App {
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .menu, .order-form {
    flex-basis: 45%;
  }
  
  .menu ul, .order-form ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li, .order-form li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }  